@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @{
        DateTime dayOfWeek = DateTime.Now;
        string greeting = "";
        @if (dayOfWeek.Hour > 6 && dayOfWeek.Hour < 12)
        { greeting = "Good Morning!"; }
        else
        {
            if (dayOfWeek.Hour > 12 && dayOfWeek.Hour < 17)
                greeting = "Good Afternoon!";
            else
                greeting = "Good Evening!";
        }
    }
    <p>Here in Ukraine: @dayOfWeek.DayOfWeek</p>
    <p>We wish you: @greeting</p>
    <p>Today is @dayOfWeek.DayOfWeek </p>
</div>