@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Introduce <a href="https://github.com/C-online-marathon/task-authentication-authorization-roman-zaruba-lilya-karas">our project</a>.</p>
</div>